/* Importação da fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilo geral */
body {
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
 

/* Container do Calendário */
.calendar-container {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #606468;
  text-align: center;
  padding: 30px;
  background: linear-gradient(135deg, #8ea6f7, #536dee, #5f75e7, #324fe4);

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  max-width: 1200px;
  margin: 50px auto;
}
body.escuro .calendar-container {
  background: linear-gradient(135deg, #131518, #726f6f);
  color: #1f95bd;
}
 

.calendar-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: flex-start;
  margin-top: 30px;
  flex-wrap: wrap;
}

.calendar {
  width: 100%;
  max-width: 750px;
  border-radius: 16px;
}
.events-list{
  color: black;
  padding: 50px;
}
body.escuro .events-list{
  color: #C1C1C1;
}
.react-calendar {
  border: none;
  font-size: 18px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  padding: 25px;
  width: 100%;
  
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
body.escuro .react-calendar{
  background-color: #777676;
  color: #f8f8f8;
}

.react-calendar:hover {
  transform: scale(1.02);
}

.react-calendar__tile {
  font-size: 18px;
 
   
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.react-calendar__tile:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.1);
}

.react-calendar__tile:active {
  background-color: #0056b3;
  color: white;
}

.react-calendar__tile--now {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  transform: scale(1.1);
}

.react-calendar__tile--active {
  background: #007bff;
  border-radius: 50px;
  color: white;
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
  background-color: #007bff;
  border-radius: 50px;
  color: white;
}
 
/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.4s ease-in-out;
}

.modal-content {
  background-color: #ffffff;
  padding: 35px;
  border-radius: 15px;
  width: 90%;
 
  max-width: 650px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: slideIn 0.5s ease-in-out;
  transform: scale(1);
}
body.escuro .modal-content {
  background-color: #575757;
  
}

.modal-content:hover {
  transform: scale(1.02);
}

/* Formulário de Evento */
.event-form-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Ocupa a tela toda */
  background-color: #f8f9fa; /* Fundo neutro */
}

.event-form {
  display: flex;
  flex-direction: column;
 
  width: 100%;
  height:80% ;
 
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra leve */
}

.event-form input,
.event-form textarea,
.event-form button {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: all 0.3s ease;
}

.event-form input,
.event-form textarea {
  width: 100%; /* Garante que os campos ocupem toda a largura */
}

.event-form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.event-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.event-form label {
  font-weight: bold;
  font-size: 16px;
}

 

/* Responsividade */
@media (max-width: 768px) {
  .calendar-wrapper {
    
    gap: 30px;
  }

  .calendar {
    width: 100%;
    max-width: 90%;
  }

  .modal-content {
    width: 100%;
    
    padding: 25px;
  }

  .event-form input,
  .event-form textarea,
  .event-form button {
    padding: 14px;
  }
  .react-calendar{
    padding:0;
  }
 
}

/* Estilo dos Eventos */
.event-card {
  background-color: #3a53cf;
  border: 1px solid #ddd;
  color: #f8f8f8;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
body.escuro .event-card{
  background-color: #333;

}

.event-card:hover {
  transform: scale(1.02);
}

/* Cabeçalho do Evento */
.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.event-header h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #f1f1f1;
}

.event-date {
  font-size: 0.9rem;
  color: #aaa;
}

.event-description {
  font-size: 1rem;
  color: #ddd;
  margin: 10px 0;
}

.event-time {
  font-size: 0.9rem;
  color: #bbb;
  margin: 5px 0;
}

/* Ações do Evento */
.event-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.event-actions button {
  padding: 10px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-edit {
  background-color: #28a745;
  color: white;
}

.btn-edit:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.close-modal {
  background-color: rgb(201, 25, 25);
  font-size: 1rem;
  color: #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}

.p-comdestaque {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}

/* Responsividade */
@media (max-width: 768px) {
  .event-card {
  
    padding: 15px;
  }

  .event-header h3 {
    font-size: 1rem;
  }

  .event-actions button {
    font-size: 0.8rem;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .event-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .event-actions {
 
    flex-direction: column;
   justify-content: space-around;
  }
}


/* Animações */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
